

<!DOCTYPE html>
<html lang="en">
<head>
 {% load custom_filters %}
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Données Générées</h2>
    <table>
        <thead>
            <tr>
                {% for col in columns %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for col in columns %}
                        <td>
                            {% if col == "QRCode" %}
                                <img src="{{ MEDIA_URL }}{{ row|get_item:col }}" alt="QR Code" width="100">
                            {% else %}
                                {{ row|get_item:col }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
